<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}"
      layout:fragment="content">
<body>
<div class="container">
    <h2 class="text-center">로그인</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">로그인</button>
    </form>
    <div class="text-center mt-3">
        <a href="/signup">회원가입</a>
    </div>
    <div class="text-center mt-4">
        <h5>소셜 로그인</h5>
        <div class="mt-1">
            <a href="/oauth2/authorization/google" class="btn btn-outline-danger btn-block">
                <i></i> 구글로 로그인
            </a>
        </div>
        <div class="mt-1">
            <a href="/oauth2/authorization/kakao" class="btn btn-outline-warning btn-block">
                <i></i> 카카오로 로그인
            </a>
        </div>
        <div class="mt-1">
            <a href="/oauth2/authorization/naver" class="btn btn-outline-success btn-block">
                <i></i> 네이버로 로그인
            </a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const message = /*[[${message}]]*/ '';
        if (message) {
            alert(message);
        }
    });
</script>
</body>
</html>
